h1 {
    text-align: center;
    }

.whitelink {
    text-decoration: none;
    color: white;
}

header {
    background-color: #ff7f50;
    text-align: center;
    color: white;
    width: 190vh;
    padding: 3% 4% 1% 4%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#scrittahome {
    text-align: center;
    color: white;
    background-color: #ff7f50;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    }

.nav-link {
    display: block;
    padding: 0.75rem 2rem;
    color: white;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-tabs .nav-link {
    margin-bottom: -5px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.70rem;
    border-top-right-radius: 0.70rem;
}

!important;
.nav-link {
   text-align: center;
}

h1 {
    display: block;
    font-size: 2.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

body{
    background: url(../images/sfondook.jpg)}

#logo {
    background-color: black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#stemmino {
    color: white;
}

#nomesito {
    color: black;
}

#estate {
    background: url(../images/sfondook.jpg)}

#fonticon {
	height: 50vh;
	width: 5vh;
	color: black;
}

img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.row {
	color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.morepadding {
    padding: 1em 15%;}

h3{ font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 1px;  
}

#istruzioni {font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
  word-spacing: 1px}

a.active {
color: black;
background-color: white;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;
}

#sottotitolo {color: white;
text-decoration: overline;}

#documentazione {
    padding: 1em 45%;
    text-align: right;
    text-decoration: none;
    color: white;
    background-color: black;
}

#titolodoc {
    font-size: 15px;
    color: red;
    padding: 1em;
}

#abstract{
 padding: 1em;   
}

#documentazionebody {
    background: white;
}

#a {
    font-size: 15px;
    background-color: white;
    color: black;
}

#b {
    background-color: white;
    padding: 2% 5% 2% 5%;
}

#aa{font-size: 25px;
    background-color: white;
    color: red;

}